@model IEnumerable<MVCCrud.Models.Employee>
@if (User.IsInRole("admin"))
{
    <p>
        <a href="#" onclick="addEmployee(0)">Add Employee</a>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desgination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                Edit Details
            </th>
            <th>
                Delete Details
            </th>
        }   
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desgination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href="#" onclick="loadModal(@item.Id)">Edit</a>
                </td>
                <td>
                    <a href="#" onclick="deleteEmployee(@item.Id)">Delete</a>
                </td>
            }
        </tr>
    }

</table>
